main{
  display: flex;
  flex-direction: column;
}


.album_list{
  display: flex;
  flex-direction: column;
  margin-top: -13rem;
  margin-left: 35rem;
  overflow: hidden;
}

.album:hover{
  background-color: rgb(227, 227, 227);
}

.photo{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 1rem;
}


.artist{
  display: flex;
  flex-direction: column;  
  font-size: 35px;
  font-weight: bold;
  align-items: center;
  margin-top: -17.75rem;
}

.list{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.head{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}


details summary {
  list-style: none;
  cursor: pointer;
  appearance: none; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}


details summary::after {
  content: '+';
  font-size: 20px;
  margin-left: 10px;
}

details[open] summary::after {
  content: '-';
  font-size: 20px;
  margin-left: 10px;
}

.album {
  font-size: 20px;
  width: 100%;
  max-width: 305px;
  border: 2px solid lightgrey;
  padding: 10px;
  box-sizing: border-box;
}
.list2{
  padding-top: 0.5rem;
}
